/* Contenedor principal */
/* Se ajustó el margen 
 Se añadió un borde 
 Se añadió un borde redondeado 
 Se añadió una sombra */

 .content {
    display: flex;
    padding: 16px;
    margin: 40px auto; 
    max-width: 960px;
    justify-content: center;
    border: 2px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  
  .mat-tab-group {
    width: 100%; /* Se ajustó el ancho al 100% */
  }
  
  /* Estilos para el título */
  /* Se aumentó el margen superior 
   Se aumentó el tamaño de la fuente 
   Se cambió el color del texto a azul 
   Se añadió negrita */
  .title {
    margin: 120px 0 20px 16px; 
    font-size: 2em;
    color: #096709;
    font-weight: bold;
  }
  