body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  app-toolbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .title {
    color: #333;
    margin-top: 50px;
  }
  
  h2 {
    color: #116c31;
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar el texto */
    margin-top: 20px;
    margin-bottom: 10px; /* Añade un margen inferior */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
  }
  
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;  /* Ajusta el valor según tus necesidades */
    margin-left: auto; /* Centra el elemento dentro de su contenedor */
    margin-right: auto; /* Centra el elemento dentro de su contenedor */
  }
  
  .badge {
    background-color: #0d780f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 10px;
  }
  