<mat-toolbar role="banner" class="toolbar" color="primary">
  <a >
    <span>Trackeador de puntos  {{nameLogin}} </span>
  </a>


  <div class="spacer"></div>
  <mat-slide-toggle
    class="edit"
    [color]="color"
    [(ngModel)]="edit"
    [checked]="edit"
    [disabled]="disabled"
    (click)="toggleEdit()"
  >
    Editar
  </mat-slide-toggle>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/config']">Configurar Items</button>
    <button mat-menu-item [routerLink]="['/alumni']">Alumni</button>
    <button mat-menu-item [routerLink]="['/login']">Cerrar sesion </button>
  </mat-menu>
</mat-toolbar>
