/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/*Vamos a cambiar nuestro estilo de letra por uno monoespaciado
lo vamos a jalar del que tenemos descargado en la carpeta fonts*/
@font-face {
  font-family: 'unispace';
  src: url('assets/fonts/unispace bd.otf');
}
@font-face {
  font-family: 'unispace2';
  src: url('assets/fonts/unispace it.otf');
}
@font-face {
  font-family: 'unispace3';
  src: url('assets/fonts/unispace rg.otf');
}



html,
body {
  height: 80%;
}
body {
  margin: 0;
  font-family: unispace, "Helvetica Neu", sans-serif;
}
