
h1 {
  padding: 1em; /* padding */
}

table,
.mat-form-field {
  width: 100%; 
}

/* Estilos para los botones de icono Material */
.mat-icon-button {
  height: 40px;
  width: 40px;
  line-height: inherit;
}

.cdk-overlay-pane.my-dialog {
  position: relative !important;
}

.close.mat-icon-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em; 
  line-height: 24px; 
  min-width: auto;
}

/* Estilos para los elementos dentro de la leyenda avanzada */
::ng-deep .advanced-pie-legend ::ng-deep .legend-items-container ::ng-deep .legend-items ::ng-deep .legend-item ::ng-deep .item-value {
  margin-top: 20px !important; 
}

/* Estilos para el contenedor del diálogo Material */
::ng-deep .mat-dialog-container {
  padding: 1em; 
}



/* 
::ng-deep .advanced-pie-legend-wrapper {
  display: block !important;
} */
